# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/gopro-app/tempbar
/gopro-app/tempclasses
/gopro-app/target
/gopro-app/libs
/gopro-app/gen
/gopro-app/build
/gopro-app/bin
/gopro-app/.idea/libraries
/gopro-app/.idea/libraries
taskArtifacts
.idea
dex-cache
intermediates
libs
/core/*.iml
wrapper
/core/build/tmp/jar
/local.properties
*.iml
/robolectric-tests/build/tmp/jar
/.project
/.settings
/gopro-app/*.classpath
*.project
.settings
/gopro-app/local.properties
/robolectric-tests/build/classes/test/com/realsoft/myo/*.class
*.class
